<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--Get Organization Service URL from Developer Resources Page and set as value for URI-->
    <add key="URI" value="" />
        
    <!--Get Discovery Service URL from Developer Resources Page and set as value for DURI-->
    <add key="DURI" value="" />
    
    <!--User Id-->
    <add key="UID" value="" />
    
    <!--Password-->
    <add key="PWD" value="" />
  </appSettings>
</configuration>